<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
      <p>Регион:
          <select name="region">
            {% for region in regions %}
               <option>
                 {{ region }}
               </option>
            {% endfor %}
          </select> <input type="text" size="40">
        </p>
        <p style="text-align: left"><button>НАЙТИ</button></p>
      <ul>
          <li><a href="about"> Информация о компании </a></li><p></p>
          <li><a href="contacts">Контакты</a></li><p></p>
          <li><a href="advertisement">Объявления</a></li><p></p>
      </ul>
</body>
</html>
