<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
      <p>Прошел все курсы на <a href="https://skillbox.ru">Skillbox</a></p>
      <p>Продаю готовые домашние задания</p>
      <ul><h3>
          <li><a href="course_1">Курс 1</a></li><p></p>
          <li><a href="course_2">Курс 2</a></li><p></p>
          <li><a href="course_3">Курс 3</a></li><p></p>
          <li><a href="course_4">Курс 4</a></li><p></p></h3>
      </ul>
</body>
</html>
